<div id="chat-message">
    <% if message.user_id == current_user.id %>
      <div id=<%= "message-"+ message.id.to_s %> class="col-xs-12">
        <p id= <%= "content-"+ message.id.to_s %> class="chat-message-line">
        <span id=<%= "nickname-"+ message.id.to_s %>>
          <%= "#{message.user.nickname}" %>
          <% if message.user.user_image.attached? %>
            <%= image_tag message.user.user_image, class: "chat-image" %>
          <% end %>
        </span>
        <span class="chat-message-comment"><%= "#{message.content}" %></span>
        <%= message.created_at %>
        </p>
      </div>
    <% else %>
      <div id=<%= "message-"+ message.id.to_s %> class="col-xs-12 chat-message-right">
        <p id= <%= "content-"+ message.id.to_s %>>
        <%= message.created_at %>
        <span class="chat-message-comment"><%= "#{message.content}" %></span>
        <span id=<%= "nickname-"+ message.id.to_s %> ><%= "#{message.user.nickname}" %>
        <% if message.user.user_image.attached? %>
          <%= image_tag message.user.user_image, class: "chat-image" %>
        <% end %>
        </span>
        </p>
      </div>
    <% end %>
</div>
