<div class="container camp-index-page">
  <div class="row">
    <div class="col-xs-6">
      <h1>キャンプ場一覧</h1>
    </div>
            <!-- 検索ここから -->
            <div class="col-xs-6">
              <div class="form-group">
              <%= search_form_for @search, url: camp_sites_path do |f| %>
                  <%= f.search_field :name_cont, class: "form-control", placeholder: "キャンプ場検索" %>
                  <%= f.collection_select :prefecture_id_eq, @camp_sites, :prefecture_id, :prefecture_name, :include_blank => '全国' %>
                  <%= f.collection_select :category_id_eq, @camp_sites, :category_id, :category_name, :include_blank => 'キャンプ場種類' %>
                  <%= f.submit "検索", class: "btn btn-default" %>
              <% end %>
              </div>
            </div>
            <!-- 検索ここまで -->



    <!-- キャンプ場一覧 -->
    <div class="camp-sites-index jscroll clearfix">
        <% @search_camp_sites.each do |camp_site| %>
          <div class="camp-sites-index-box col-xs-4 clearfix">
              <%= link_to camp_site_path(camp_site) do %>
                <% if camp_site.camp_images.attached? %>
                  <p><%= image_tag camp_site.camp_images.first, class: "camp-site-image" %></p>
                <% end %>
                <p class="camp-site-index-name"><%= link_to camp_site.name, camp_site_path(camp_site), class: "camp-site-index-name" %></p>
                <p class="camp-site-index-info"><%= camp_site.category_name %><%= camp_site.prefecture_name %></p>
                <p>お気に入り数  <%= camp_site.like_camps.size %>
                掲示板数 <%= camp_site.boards.size %></p>
                <hr class="camp-site-index-hr">
              <% end %>
          </div>
        <% end %>
      <%= paginate @search_camp_sites %>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
