<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <h1>キャンプ場一覧</h1>
    </div>
            <!-- 検索ここから -->
            <div class="col-xs-6">
              <div class="form-group">
              <%= search_form_for @search, url: camp_sites_path do |f| %>
                  <%= f.search_field :name_cont, class: "form-control", placeholder: "キャンプ場検索" %>
                  <%= f.collection_select :prefecture_id_eq, @camp_sites, :prefecture_id, :prefecture_name, :include_blank => '全国' %>
                  <%= f.collection_select :category_id_eq, @camp_sites, :category_id, :category_name, :include_blank => 'キャンプ場種類' %>
                  <%= f.submit "検索", class: "btn btn-default" %>
              <% end %>
              </div>
            </div>
            <!-- 検索ここまで -->



    <!-- キャンプ場一覧 -->
    <div class="">
      <% @search_camp_sites.each do |camp_site| %>
      <div class="admin-cmap-sites-index-box">
          <%= link_to camp_site_path(camp_site) do %>
            <% if camp_site.camp_image.attached? %>
              <p><%= image_tag camp_site.camp_image, class: "camp-site-image" %></p>
            <% end %>
            <p><%= link_to camp_site.name, camp_site_path(camp_site) %></p>
            <p><%= camp_site.address %></p>
            <p><%= camp_site.category_name %></p>
          <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
