<div class="user-show-my-page">
  <table class="table" id="user-show-my-page">

    <tr>
    <% if user_signed_in? && current_user.id == user.id %>
      <th>名前（必須）</th>
      <th><%= user.name %></th>
    <% end %>
    </tr>

    <tr>
      <th>ニックネーム（必須）</th>
      <th><%= user.nickname %></th>
    </tr>

      <tr>
        <th>都道府県（必須）</th>
    <% unless user.prefecture_id.nil? %>
        <th><%= user.prefecture_name %></th>
      <% else %>
        <th>未設定</th>
    <% end %>
      </tr>

    <tr>
      <th>メールアドレス（必須）</th>
      <th><%= user.email %></th>
    </tr>

    <tr>
      <th>自己紹介</th>
      <th><%= user.introduction %></th>
    </tr>

  </table>
  <% if user_signed_in? && current_user.id == user.id %>
    <p class="user-show-edit-button">
      <%= link_to '編集', edit_user_path, class: "btn user-edit-button", remote: true %>
    </p>
  <% end %>

</div>
