<div class="container">
  <div class="row">

    <% if current_user.id == @user.id %>
      <h1>マイページ</h1>
    <% else %>
      <h1><%= @user.nickname %>のページ</h1>
    <% end %>

    <% if current_user.id != @user.id %>
      <%= render 'follow_form' %>
    <% end %>
  <%= image_tag @user.user_image, class: "" %>
    <div>
      <table class="table">
        <%= link_to '編集', edit_user_path %>
        <tr><th>ユーザーID</th><th><%= @user.id %></th><tr>
        <tr><th>名前</th><th><%= @user.name %></th><tr>
        <tr><th>ニックネーム</th><th><%= @user.nickname %></th><tr>
        <tr><th>都道府県</th><th><%= @user.prefecture_name %></th><tr>
        <tr><th>メールアドレス</th><th><%= @user.email %></th><tr>
        <tr><th>自己紹介</th><th><%= @user.introduction %></th><tr>
    </table>
    </div>

    <div class="user-show-subtitle-box clearfix">
      <div class="user-show-subtitle user-show-subtitle-like-camp">
        <h3>お気に入り<br>キャンプ場</h3>
      </div>
      <div class="user-show-subtitle user-show-subtitle-like-board">
        <h3>気になる<br>掲示板</h3>
      </div>
      <div class="user-show-subtitle user-show-subtitle-post-board">
        <h3>掲示板<br>投稿履歴</h3>
      </div>
      <div class="user-show-subtitle user-show-subtitle-follow">
        <h3>フォロー<br>ユーザー</h3>
      </div>
      <div class="user-show-subtitle user-show-subtitle-follower">
        <h3>フォロワー</h3>
      </div>
    </div>

    <div class="user-show-info-box">

      <!-- お気に入りキャンプ場 -->
      <div class="user-show-info user-show-like-camp">
        <% @camps.each do |camp| %>
          <%= camp.camp_site.name %>
        <% end %>
      </div>

      <!-- 気になる掲示板 -->
      <div class="user-show-info user-show-like-board">
        <% @boards.each do |board| %>
          <div class="">
            <%= board.board.user.nickname %>
            <%= board.board.purpos_name %>
            <%= board.board.date %>
            <%= board.board.time %>
            <%= link_to '詳細', board_path(board.board.id) %>
          </div>
        <% end %>
      </div>

      <!-- 掲示板投稿履歴 -->
      <div class="user-show-info user-show-post-board">
        <% @post_boards.each do |post| %>
          <div class="">
            <%= post.purpos_name %>
          </div>
        <% end %>
      </div>
      <!-- フォローユーザー -->
      <div class="user-show-info user-show-follow">
          <div class="">
            <% @following.each do |following| %>
              <%= link_to following.nickname, user_path(following.id) %>
            <% end %>
          </div>
      </div>

      <!-- フォロワー -->
      <div class="user-show-info user-show-follower">
          <div class="">
            <% @followers.each do |follower| %>
              <%= link_to follower.nickname, user_path(follower.id) %>
            <% end %>
          </div>
      </div>

    </div>

  </div>
</div>
