<div class="container">
  <div class="row">
    <div class="board-new-table">
    <h1>掲示板作成</h1>
      <table class="table">
          <%= form_with model: @board, local: true do |f| %>
            <%= render '/error_messages', model: f.object %> <!--バリデーションメッセージ -->
            <tr><td>依頼主</td>
            <th><%= current_user.nickname %><%= f.hidden_field :user_id, :value => current_user.id %></th></tr>
            <tr><td>キャンプ場</td>
            <th><%= f.collection_select :camp_site_id, CampSite.all, :id, :name %></th></tr>
            <tr><td>日にち</td>
              <th><%= f.date_field :date %><span class="board-new-time">時間</span><%= f.time_field :time %>頃 〜</th></tr>
            <tr><td>目的</td>
            <th><%= f.collection_select :purpos_id, Purpos.all, :id, :purpos_name %>
             詳細<%= f.text_field :detail %></th></tr>
            <tr><td>場所</td>
            <th><%= f.text_field :place, class: "board-new-text-field", placeholder: "サイト番号など" %></th></tr>
            <tr><td>募集条件</td>
            <th><%= f.text_field :condition, class: "board-new-text-field" %></th></tr>
            <tr><td>コメント</td>
            <th><%= f.text_area :comment %></th></tr>
            <tr><td>画像</td>
            <th><%= f.file_field :board_images ,multiple: true %></th></tr>
            <tr><th>
                <%# if @board.board_images.attached? %>
                  <% @board.board_images.each do |image| %>
                    <%= image_tag image.preview(resize: "150x150") %>
                    <%= f.hidden_field :board_images %>
                  <% end %>
                <%# end %>
              </th></tr>
      </table>
            <div class="board-new-button"><%= f.submit '掲示板投稿', class: 'btn board-new-button' %></div>
          <% end %>
    </div>
  </div>
</div>
