<div class="container">
  <h2>募集掲示板</h2>
  <div>
      <%= link_to @board.user.nickname, user_path(@board.user_id) %>
      <%= @board.purpos_name %>
      <%= @board.condition %>
      <%= @board.date %>
      <%= @board.time %>
      <%= @board.place %>
      <%= @board.detail %>
      <%= @board.comment %>
      <div>
        <% if @board.board_images.attached? %>
          <% @board.board_images.each do |image| %>
            <%= image_tag image.variant(resize: "200x200") %>
          <% end %>
        <% end %>
      </div>
  </div>

  <%= render 'like_boards/like_board', board: @board %>

  <h2>コメント欄</h2>
  <div class="board-comment-box">
  </div>
</div>
