<div class="container board-show-page">
  <h1>募集掲示板</h1>
  <div class="row">
    <!-- 閲覧履歴表示 -->
    <%= render '/history', recently_campsite: @recently_campsite %>

    <div class="clearfix">
      <div class="col-xs-12 board-show-head clearfix">

        <div class="col-xs-3 board-show-user">

          <p><%= image_tag @board.user.user_image, class: "board-user-image" %></p>
          <p>募集者<%= link_to @board.user.nickname, user_path(@board.user_id) %></p>

          <!--気になる掲示板にボタン -->
          <% if user_signed_in? && current_user.id != @board.user_id %>
            <%= render 'like_boards/like_board', board: @board %>
          <% end %>

        </div>

        <div class="col-xs-9 board-show-board">
          <%= render 'board_show', board: @board %>
        </div>

      </div>
    </div>

    <h3>イメージ画像</h3>
      <%= render 'board_img', board: @board %>


    <h2>コメント欄</h2>
    <div class="board-comment-box">
    </div>
  </div>
</div>
