<div class="container">
  <h1>キャンプ場編集</h1>
  <div class="row">

    <table class="table">

      <thead>
        <tr>
          <td>項目</td>
          <td>入力内容</td>
        </tr>
      </thead>

          <%= form_with model: @admin_camp_site, url: "/admin_camp_sites/#{@admin_camp_site.id}", local: true do |f| %>
            <%= render 'form', f: f %>
          <tr>
            <td>画像</td>
            <th><%= f.file_field :camp_images %></th>
          </tr>
          <tr>
            <td>画像<br>(削除にチェック)</td>
            <th>
              <% @admin_camp_site.camp_images.each do |image| %>
                <%= f.check_box :image_ids, {:multiple => true}, image.id, false %><span>
                    <%= image_tag image, :size=>"230x200" %>
              <% end %>
            </th>
          </tr>
          <tr>
            <td></td>
            <th><%= f.submit class: 'btn btn-primary' %></th>
          </tr>
        <% end %>

    </table>

  </div>

</div>
