<div class="like-camp-link" id="like-camp-link-<%= camp_site.id %>">
  <% if user_signed_in? %> <!-- ログインしてないと押せない -->
      <% if current_user.like_camps.find_by(camp_site_id: camp_site.id) %> <!-- ログインユーザーがお気に入り済みか -->
        <%= camp_site.like_camps.size %>
        <%= link_to 'お気に入り済み', like_camp_path(camp_site.id), method: :delete, remote: true %>
      <% else %>
        <%= camp_site.like_camps.size %>
        <%= link_to 'お気に入りする', like_camps_path(camp_site.id), method: :post, remote: true %>
      <% end %>
  <% else %>
    <%= 'お気に入り' %>
  <% end %>
</div>
