<!DOCTYPE html>
<html>
  <head>
    <title>CAMP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <%= render 'layouts/admin_nav' %>
    <% else %>
      <%= render 'layouts/user_nav' %>
    <% end %>
    <%= render '/flash_message' %> <!--フラッシュメッセージ -->
    <% if content_for?(:body_attributes) %>
      <%= yield(:body_attributes) %>
    <% end %>
    <%= yield %>
  </body>
</html>
